<body style="margin: 0; padding: 0; font-family: georgia; text-align: justify; line-height: 1.7; ">
 <table  align="center" text-align="center" cellpadding="0" cellspacing="0" width="600px">
  <tr>
   <td>
     <%= cl_image_tag("photoshare_qb1b6n.webp", :quality=>"auto:good", :width=>600, :crop=>"scale") %>
   </td>
  </tr>
  <tr>
   <td style="text-align: center;">
    <h1>Bienvenu <%= @user.name + "!" %></h1>
   </td>
  </tr>
  <tr>
   <td style="text-align: center;">
    <h3>Tu veux enfin savoir ce que tu consommes?</h3>
   </td>
  </tr>
  <tr>
   <td>
    <p align="center" >Notre souhait est simple:</p><p> Rapprocher le savoir-faire agricole des paysans des quatres coins du monde de notre communauté de consommateurs éclairés, <strong>pour qui la transparence est un besoin, la qualité une éxigence et l'éco-responsabilité une évidence.</strong> </p>
   </td>
  </tr>
  <tr>
    <td style="text-align: center;">
    <!-- <%= cl_image_tag("indiana_jones_film_GIF-downsized_large_gbtgzr.gif", :height=>120, :width=>350, :crop=>"scale") %> -->s
    </td>
  </tr>
  <tr>
   <td >
    <p>Parce qu'on est jamais mieux servi que par soi même, on a décidé d'y aller nous même!</p>
   </td>
  </tr>
  <tr>
   <td style="text-align: center;">
    <h3>Telle est la vocation de La Tribu</h3>
    <%= cl_image_tag("coffeplant_p3bft4.webp", :quality=>"auto:eco", :width=>600, :crop=>"scale") %>
    <small style= "font-style: italic">Plantation de café arabica d'altitude (mini 1000 mètres), culture en biodinamie sur flanc de volcan, Chiapas, Mexique</small>
   </td>
  </tr>
  <tr>
   <td>
    <p>Nous sommes ravi de t'accueillir dans cette initiative innovante,<strong> une marque collaborative en ligne entend développer les produits de demain en se rapprochant directement des producteurs</strong></p>
   </td>
  </tr>
     <td style="text-align: center; font-style: italic">
    <p >Ici, pas de marketing édulcorant, ni de blabla, on se dit toute la vérité, rien que la vérité.</p>
    <%= cl_image_tag("Animated_GIF-downsized_g7pfjq.gif", :height=>120, :crop=>"scale") %>
   </td>
  </tr>
     <td>
    <p>Contribue toi aussi à l’évolution de notre projet en participant à l'élaboration de notre gamme de produits et suivant nos actualités.</p>
   </td>
  </tr>
  <tr>
    <td style="text-align: center; font-style: italic">
      <p>Un paquet de choses tu apprendras,  <br> Renseigné comme jamais tu seras. </p>

    </td>
  </tr>
     <td style="text-align: center;">

   </td>
  </tr>
     <td style="text-align: center;">
    A très bientôt !
   </td>
  </tr>
</table>
<table align="center" text-align="center" >
  <tr>
    <td style="width:120px" align="center">
      <%= cl_image_tag("Capture_d_écran_2018-04-06_à_19.51.10_aqclbn.webp", :effect=>"grayscale", :radius=>"max", :width=>100, :crop=>"thumb")%><br><p>Thibault</p>
   </td>
     <td style="width:120px" align="center">
      <%= cl_image_tag("Julien_RIou_juezxg.webp", :gravity=>"custom", :height=>100, :radius=>"max", :width=>100, :crop=>"thumb") %><br><p>Julien</p>
   </td>
  </tr>
</table>
<table align="center" text-align="center" cellpadding="0" cellspacing="0" width="600px">
  <tr>
    <td align="center">
      <p style="font-style: italic";  >“Pour qu'un enfant grandisse, il faut tout un village."
      <br>Proverbe africain ; L'Afrique en proverbes (1905) </p>
      <p style="color:blue"><strong>Pour suivre l'actualité de La Tribu, en photos, en vidéos et infographies, on "follow" par ici!</p></strong>
   </td>
  </tr>
</table>
<table align="center">
  <tr align="center">
    <td style="width:120px" >
      <a href="https://www.instagram.com/thibault____/" target="_blank"><img src="http://res.cloudinary.com/dcljc9muz/image/upload/c_scale,q_auto:eco,w_70/v1524262827/instagram-icon_1057-2227_wdujac.webp" border="0" alt="Instagram"/></a>
    </td>
    <td style="width:120px" >
      <a href="https://www.facebook.com/La-Tribu-175044193150565/" target="_blank"><img src="http://res.cloudinary.com/dcljc9muz/image/upload/c_scale,q_auto:eco,w_70/v1524262796/8cc74bfbefd94a7c24d9d666a51f0623_df5c9f.webp" border="0" alt="Facebook"/></a>
    </td>
  </tr>
</table>
<table align="center">
  <tr>
    <td >
      <small style="font-style: italic">
      <p>PS: ton email sera exclusivement destiné à vous fournir du contenu émanant de La Tribu.</p></small>
    </td>
  </tr>
</table>


</body>


<!-- <div class= "container" style="font-family: 'Muli', sans-serif; text-align: center"> -->




























<!-- </div> -->

