<body style="margin: 0; padding: 0; font-family: georgia; text-align: justify; line-height: 1.7; font-size: 18px; ">
 <table style="text-align: justify;"  align="center" text-align="center" cellpadding="0" cellspacing="0" width="600px">
  <tr>
   <td>
     <%= cl_image_tag("photoshare_if3mv8.webp", :quality=>"auto:good", :width=>600, :crop=>"scale") %>
   </td>
  </tr>
  <tr>
   <td style="text-align: center;">
    <h1>Bienvenu <%= @user.name + "!" %></h1>
   </td>
  </tr>
  <tr>
   <td >
    <p>Nous sommes ravi de vous accueillir dans cette initiative innovante, une marque collaborative en ligne qui entend donner du sens à vos produits d’épicerie importées en travaillant directement avec les producteurs.</p>
   </td>
  </tr>
  <tr>
   <td style="text-align: center; font-style: italic">
    <p>Avec La Tribu, pas de marketing édulcorant ni de blabla, on se dit toute la vérité, rien que la vérité.</p>
   </td>
  </tr>
  <tr>
   <td>
    <p align="center" >Notre souhait est simple:</p><p> Rapprocher le savoir-faire agricole des paysans des quatres coins du monde de notre communauté de consommateurs éclairés, <strong>pour qui la transparence est un besoin, la qualité une évidence et l'éco-responsabilité une éxigence.</strong> </p>
   </td>
  </tr>
  <tr>
    <td >
    </td>
  </tr>
  <tr>
   <!-- <td style="text-align: center;">
    <h3>Telle est la vocation de La Tribu</h3>
    <%= cl_image_tag("coffeplant_p3bft4.webp", :quality=>"auto:eco", :width=>600, :crop=>"scale") %>
    <small style= "font-style: italic">Plantation de café arabica d'altitude (mini 1000 mètres), culture en biodinamie sur flanc de volcan, Chiapas, Mexique</small>
   </td> -->
  </tr>
  <tr>
   <td>
    <p>D'ailleurs, nous avons <strong>élaboré notre cahier des charges avec l’aide de nos 60 premiers membres</strong>. L’occasion pour nous tous de repartir d’une feuille blanche pour y composer notre produit idéal.
   </td>
  </tr>
  <tr>
    <td>
      <p style="text-align: center;">Le verdict fut sans appel:</p><p><strong>respecter la terre avec le bio, le travail des paysans avec le commerce équitable, être totalement transparent sur l’élaboration, et enfin intégrer l’écologie dans l’équation!<strong></p>
   </td>
  </tr>
  <tr>
    <td>
      <p><strong>Ce sont eux qui ont d’ailleurs sélectionné les premiers produits à développer</strong>, les premiers nés de notre quête de goût, transparence et future gamme de produit.</p>
   </td>
  </tr>
  <tr>
    <td style="text-align: center; font-style: italic">
      <p>Chéééérie fait les valises! :-)</p>
    </td>
  </tr>
  <tr>
     <td >
      <p>Nos billets sont pris!
      Nous partons sur les terres incas, à flanc de cordillère ou il y pousse en haute altitude un café d’exception et un quinoa savoureux.</p>
   </td>
  </tr>
  <tr>
     <td>
    <p>Première étape de notre confection de produits artisanalement vôtre disponibles en pré-ventes début septembre!!  :-) :-)</p>

   </td>
  </tr>
  <tr>
    <td style="text-align: center;">
      <p>A très bientôt pour un débrief de voyage !</p>
    </td>
  </tr>
</table>
<table align="center" text-align="center" >
  <tr>
    <td style="width:120px" align="center">
      <%= cl_image_tag("Capture_d_écran_2018-04-06_à_19.51.10_aqclbn.webp", :effect=>"grayscale", :radius=>"max", :width=>100, :crop=>"thumb")%><br><p>Thibault</p>
   </td>
     <td style="width:120px" align="center">
      <%= cl_image_tag("Julien_RIou_juezxg.webp", :gravity=>"custom", :height=>100, :radius=>"max", :width=>100, :crop=>"thumb") %><br><p>Julien</p>
   </td>
  </tr>
</table>
<table align="center" text-align="center" cellpadding="0" cellspacing="0" width="600px">
  <tr>
    <td align="center">
      <p style="font-style: italic";  >“Pour qu'un enfant grandisse, il faut tout un village."
      <br>Proverbe africain ; L'Afrique en proverbes (1905) </p>
      <p style="color:blue"><strong>Pour suivre l'actualité de La Tribu, en photos, en vidéos et infographies, on "follow" par ici!</p></strong>
   </td>
  </tr>
</table>
<table align="center">
  <tr align="center">
    <td style="width:120px" >
      <a href="https://www.instagram.com/thibault____/" target="_blank"><img src="http://res.cloudinary.com/dcljc9muz/image/upload/c_scale,q_auto:eco,w_70/v1524262827/instagram-icon_1057-2227_wdujac.webp" border="0" alt="Instagram"/></a>
    </td>
    <td style="width:120px" >
      <a href="https://www.facebook.com/La-Tribu-175044193150565/" target="_blank"><img src="http://res.cloudinary.com/dcljc9muz/image/upload/c_scale,q_auto:eco,w_70/v1524262796/8cc74bfbefd94a7c24d9d666a51f0623_df5c9f.webp" border="0" alt="Facebook"/></a>
    </td>
  </tr>
</table>
<table align="center">
  <tr>
    <td >
      <small style="font-style: italic">
      <p>PS: votre email sera exclusivement destiné à vous fournir du contenu émanant de La Tribu.</p></small>
    </td>
  </tr>
</table>


</body>


<!-- <div class= "container" style="font-family: 'Muli', sans-serif; text-align: center"> -->




























<!-- </div> -->

