<div class="wrapper">
  <div class="container text-center show">
    <div class="content">
      <div class="content-text">
        <h1>Un grand merci <%= @user.name.capitalize %></h1>
        <h5>
          Nous vous avons envoyé un mail de bienvenu et vous enverrons des informations concernant l'avancement du projet.
        </h5>
        <div class="vote">
          <% unless @user.category_preferences.present? %>
            <h5>Mais avant ça on vous propose de nous aiguillez sur vos préférences</h5>
                <%= simple_form_for :category_preferences, url: category_preferences_path do |f| %>
                  <%= f.fields_for :categories do |uf| %>
                    <% Category.all.each do |category| %>
                      <label>
                        <%= uf.check_box "category_ids", { multiple: true }, category.id, nil %>

                          <%= category.pictoname %>
                         <p><%= category.name %></p>

                      </label>
                    <% end %>
             <!--      <% end %> -->
                  <%= f.button :submit %>
                 <% end %>
          <% else %>
            <h5>Un grand merci pour votre participation au questionnaire</h5>
          <% end %>
        </div>
        <h5>Si l'idée vous a plu elle plaira à votre entourage alors n'hésitez pas à partagez!</h5>
          <div class="sharethis-inline-share-buttons" data-url="https://latribu.herokuapp.com/"></div>
      </div>
    </div>
        <h5>A très vite</h5>
      <div class="team">
        <ul class= "list-inline">
          <li><%= cl_image_tag("Capture_d_écran_2018-04-06_à_19.51.10_aqclbn.png", :effect=>"grayscale", :height=>100, :crop=>"scale") %><h4>Thibault</h4></li>
          <li><%= cl_image_tag("Julien_RIou_juezxg.jpg", :height=>100, :width=>100, :crop=>"thumb") %><h4>Julien</h4></li>
        </ul>
      </div>
      <p>Votre email sera exclusivement destiné à vous fournir du contenu émanant de La Tribu.</p>
    </div>
</div>


