<div class="wrapper show">
  <div class="container text-center ">
    <div class="logo">
      <%= cl_image_tag("tribublanco_1_yauycz.png", :height=>130, :quality=>"auto:best", :crop=>"scale", :fetch_format=>:auto)%>
      </div>
    <div class="content-text">
      <h1>Un grand merci <%= current_user.name.capitalize %></h1>
      <h4>
        Nous vous avons envoyé un mail de bienvenu et vous enverrons prochainement des informations concernant l'avancement du projet. <br>Car n'oubliez pas, notre objectif est de vous donner l'opportunité d'apprendre tout ce qui se cache derrière nos produits! </h4>
        <div class="share">
          <h5 style="font-style: italic">Pour qu'un enfant grandisse, il faut tout un village.</h5><h5>L'Afrique en proverbes (1905)</h4><h4>Si l'idée vous a plu elle plaira à votre entourage <srong>n'hésitez pas, partagez!</strong></h5>
          <div class="sharethis-inline-share-buttons" data-url="https://www.la-tribu.com"></div>
        </div>
    </div>

  </div>
      <div class="container text-center">
        <div class="vote">
          <% unless current_user.category_preferences.present? %>
            <h4>La Tribu est une marque collaborative, elle vous donne la parole. <br> Vous pourrez, régulièrement, nous aider à prendre des décisions en nous donnant votre opinion en ligne.<br>
            Votre avis nous permettra de faire des choix qui correspondent à vos attentes.<br></h4>
            <h4 style= "padding: 10px">Alors, ne perdons pas de temps, donnez votre avis dès à présent!<br></h4>
            <h4 style=" color: #F9D243; padding: 10px;">Quels sont les produits que vous aimeriez retrouver sur La Tribu dans les mois à venir?</h4>
                <%= simple_form_for :category_preferences, url: category_preferences_path do |f| %>
                <div class="form-inline ">
                  <%= f.fields_for :categories do |uf| %>
                    <% Category.all.each do |category| %>
                      <label>
                        <%= uf.check_box "category_ids", { multiple: true, id: "check" }, category.id, nil %>
                          <%= image_tag category.pictoname, {class: "img-rounded"} %>
                         <h5 style="color: #F9D243"><%= category.name %></H5>
                      </label>
                    <% end %>
                  <% end %>
                </div>
                  <div class="form-actions ">
                  <%= f.button :submit, "JE VOTE", class:"btn btn-warning" %>
                  </div>
                <% end %>
          <% else %>
            <h2 style=" color: #F9D243">A voté!<br>Merci d'avoir contribué au choix de vos futurs produits !</h2>
          <% end %>
        </div>
      </div>
    <div class="container">
      <div class="team text-center">

        <ul class= "list-inline">
          <h4>A très vite</h4>
          <li><%= cl_image_tag("moi_caré_hq60uv.png", class:"lazyload", :fetch_format=>:auto, :quality=>"auto", :effect=>"grayscale", :height=>120,:width=>120, :crop=>"scale") %><h4>Thibault</h4></li>
            <li><%= cl_image_tag("julien_nfwsg0.png",class:"lazyload", :effect=>"grayscale", :fetch_format=>:auto, :quality=>"auto", :height=>120, :width=>120, :crop=>"thumb") %><h4>Julien</h4></li>
        </ul>

      </div>
    </div>
</div>


