 <div class="form">
  <%= simple_form_for(@user) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <ul class="list-inline">
        <li><%= f.input :name, required: true, placeholder: "Prénom", label: false %></li>
        <li><%= f.input :email, required: true,  placeholder: "Email", label: false%></li>
      </ul>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "EN SAVOIR PLUS*", class: "btn btn-warning" %>
    </div>
    <h5>*et voter pour les futurs produits de la gamme !</h5>
  <% end %>
</div>
