
  <div class="navbar-wagon navbar-fixed-top">
    <a href="/" class="navbar-wagon-brand ">
      <%= cl_image_tag("tribublanco_1_yauycz.webp", class:"lazyload", :height=>70, :quality=>"auto:good", :crop=>"scale")%>
    </a>
    <div class="navbar-wagon-right hidden-xs hidden-sm">
      <a><%= link_to "Pourquoi La Tribu?", "#pourquoilatribu", class: "navbar-wagon-item navbar-wagon-link " %></a>
      <a><%= link_to "Comment ça marche?", "#commentcamarche", class: "navbar-wagon-item navbar-wagon-link" %></a>
      <a><%= link_to "Carnet de route", "#carnetderoute", class: "navbar-wagon-item navbar-wagon-link" %></a>
      <a><%= link_to "Cahier des charges", "#cahierdescharges", class: "navbar-wagon-item navbar-wagon-link" %></a>
      <a><%= link_to "L'équipe", "#equipe", class: "navbar-wagon-item navbar-wagon-link" %></a>
    </div>
  </div>
