<div class="navbar-wagon navbar-fixed-top">
  <a href="/" class="navbar-wagon-brand ">
    <%= cl_image_tag("tribublanco_1_yauycz.svg", :secure => true, class:"lazyload", :height=>70, :quality=>"auto:best", :crop=>"scale")%>
  </a>
  <div class="navbar-wagon-center hidden-xs ">
    <a><%= link_to "Nos valeurs", "#nosvaleurs", class: "navbar-wagon-item navbar-wagon-link" %></a>
    <a><%= link_to "Collaboratif ?", "#commentcamarche", class: "navbar-wagon-item navbar-wagon-link" %></a>
    <a><%= link_to "Nos produits", "#nosproduits", class: "navbar-wagon-item navbar-wagon-link" %></a>
    <a><%= link_to "Votez !", "#equipe", class: "navbar-wagon-item navbar-wagon-link" %></a>
  </div>
  <div class="navbar-wagon-right">
    <div class="footer-links">
      <a href="https://www.instagram.com/latribu__lamarquecollaborative/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/sharer/sharer.php?u=www.la-tribu.co" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/intent/tweet?text=www.la-tribu.co, latribu, marquedeconsommateur" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/shareArticle?mini=tru&url=http://www.la-tribu.co" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
