<!-- <div class="header  "> -->
  <div class="navbar-wagon navbar-fixed-top">
    <!-- Logo -->
    <a href="/" class="navbar-wagon-brand">
       <%= cl_image_tag("flowRoot7503-8_qf1iwc.png", :width=>150, :crop=>"scale") %>
    </a>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">
      <%= link_to "Pourquoi La Tribu?", "#pourquoilatribu", class: "navbar-wagon-item navbar-wagon-link " %>
      <%= link_to "Comment ça marche?", "#commentcamarche", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Carnet de route", "#carnetderoute", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Cahier des charges", "#cahierdescharges", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "L'équipe", "#equipe", class: "navbar-wagon-item navbar-wagon-link" %>
    </div>

  </div>
<!-- </div> -->
