
<%= render "shared/navbar" %>
  </div>
<!-- </div> -->
<div class="wrapper">
  <div class="first-banner">
    <div class="container">
      <div class="first-banner-content text-center">
        <div class="punchline ">
          <!-- <h1>VOS PRODUITS D'EPICERIE COMME SI VOUS Y ETIEZ!</h1> -->
          <H1>MIEUX CONSOMMER DÉMARRE LÀ-BAS</H1>
          <!-- <h3>Des produits d'épicerie bons, justes et développés ensembles!</h3> <br> -->
          <h3>Des produits d'épicerie bons, justes et conçus ensemble !</h3> <br>
        </div>
        <%= render "shared/form" %>
      </div>
    </div>
  </div>

<ul class="list-inline">
  <% Category.all.each do |category| %>
    <label>
        <%= image_tag category.pictoname, {class: "img-rounded"} %>
       <h5><%= category.name %></H5>
    </label>
  <% end %>
</ul>

<ul class="list-inline">
  <% CategoryPreference.try.each do |category_preference| %>
    <label>
        <%= image_tag category_preference[0].pictoname, {class: "img-rounded"} %>
       <h5><%= category_preference[0].name %></H5>
        <h5><%= category_preference[1]%></h5>
    </label>
  <% end %>
</ul>



  <div class="third-banner text-center" id="commentcamarche">
    <div class="container content-white">
      <div class="row">
        <div class="title">
          <h1>COMMENT &Ccedil;A MARCHE ?</h1>
        </div>
        <div class="first-step col-sm-6 col-md-4">
          <%=cl_image_tag("creezorange_boirh4.png", :secure => true, lass:"lazyload", :fetch_format=>:auto,:quality=>"auto", :width=>150, :height=>150, :crop=>"fill") %>
          <h2>Créez</h2>
          <h5>
            Je m'inscris pour suivre le projet. <br>
            Je donne mon avis en ligne sur les futurs produits à développer. <br>
            Je pré-commande mes produits en ligne. <br>
          </p></h5>
        </div>
        <div class="second-step col-sm-6 col-md-4">
          <%= cl_image_tag("apprenezorange_dgu34h.png", :secure => true, lass:"lazyload", :fetch_format=>:auto, :height=>150, :quality=>"auto:good", :width=>150, :crop=>"fill")%>
          <h2>Apprenez</h2>
          <h5>Je comprends comment mes produits sont fabriqués, de la graine à mes papilles,<br> grâce aux photos, vidéos et infographies en ligne.</h5>
        </div>
        <div class="third-step col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
          <%= cl_image_tag("dégustezorange_oryffh.png",:secure => true, lass:"lazyload", :fetch_format=>:auto, :quality=>"auto", :width=>150, :height=>150,  :crop=>"fill") %>
          <h2>Dégustez</h2>
          <h5>Je reçois mes produits uniques et leurs fiches de dégustations directement chez moi !</h5>
        </div>
      </div>
    </div>



    <div class="second-banner" id="pourquoilatribu">
    <div class="container text-center content-white">
      <div class="title">
        <h1>POURQUOI LA TRIBU ?</h1>
      </div>
        <h4>La Tribu est née d’une découverte lors d’un voyage dans le Chiapas, au Mexique.<br></h4>
          <h4>Un café bio de haute altitude, issu d’une coopérative équitable rencontrée à l’occasion, <br> qui nous fit découvrir les champs de caféiers.<br></h4>
          <h4>Il avait un goût spécial ce café, celui de la transparence, de la découverte d'un terroir et d'une communauté.<br></h4>
          <h4>En partageant ce café avec nos amis, nous avons réalisé que si l’histoire de sa découverte leur plaisait,<br> elle pourrait plaire à tout le monde. <br><h4> La Tribu était née ! </h4>
      </h4>
    </div>
  </div>
  <div class="fourth-banner" id="carnetderoute">
    <div class="container content content-mob2">
      <div class="row">
      <div class="title text-center">
        <h1>CARNET DE ROUTE <br> - MAI 2018 -</h1>
        <h4>Nous sommes partis 1 mois au Pérou à la rencontre de producteurs de Quinoa et de Café, <br> pour tout voir, tout comprendre et tout vous expliquer.</h4>
        <h4></h4>
        <h4>Ces produits qui ont été choisis par nos premiers membres. <br>  </h4>
      </div>
    </div>
      <div class="row text-center" id="clockrow">
        <h4>Ils seront disponible en pré-commande dans :</h4>
        <div id="clockdiv">
        <div class="number">
          <span class="days"></span>
          <div class="smalltext">Jours</div>
        </div>
        <div class="number">
          <span class="hours"></span>
          <div class="smalltext">Heures</div>
        </div>
        <div class="number">
          <span class="minutes"></span>
          <div class="smalltext">Minutes</div>
        </div>
        <div class="number">
          <span class="seconds"></span>
          <div class="smalltext">Secondes</div>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-1">
          <div class="card">
            <div class="frisette">
              <%= cl_image_tag("frisette_o05m8g.png",:secure => true, class:"lazyload", :fetch_format=>:auto, :quality=>"auto", :width =>18) %>
            </div>
            <div class="card-title text-center">
              <p id="cafe-title">CAFE</p>
              <p id="cafe-brand">LE GRAIN INCA</p>
            </div>
            <div class="ambiance-grain">
            </div>
            <div class="doypack-quinoa ">
              <div class="doypack">
                <%= cl_image_tag("packaging__02_zb1k9z.png", :secure => true, class:"lazyload", :fetch_format=>:auto,:width=>90, :quality=>"auto",) %>
              </div>
             </div>
            <div class="description">
              <p><strong>Coopérative El Palomar </strong> <br>
              Découvrez les secrets d’un café de haute altitude, réputé pour son goût unique, cultivé sans pesticides et suspendu aux pentes de la Cordillère.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-offset-2 col-md-4">
          <div class="card">
            <div class="frisette">
              <%= cl_image_tag("frisettequinoa_aow4tb.png", :secure => true, class:"lazyload", :fetch_format=>:auto, :quality=>"auto", :width =>18) %>
            </div>
             <div class="card-title text-center">
              <p id="quinoa-title" >QUINOA</p>
              <p id="quinoa-brand">LE GRAIN KINWA</p>
            </div>
             <div class="ambiance-grain-quin">
            </div>
            <div class="doypack-quinoa ">
              <div class="doypack">
                <%= cl_image_tag("packaging__01_l1z20l.png", :secure => true, class:"lazyload", :fetch_format=>:auto, :width=>90, :quality=>"auto",) %>
              </div>
              <div class="doypack">
                <%= cl_image_tag("packaging__01_l1z20l.png", :secure => true, class:"lazyload", :fetch_format=>:auto, :width=>90, :quality=>"auto",) %>
              </div>
            </div>
            <div class="description">
              <p><strong> Coopérative Los Chankas</strong> <br>
              Nous allons comprendre comment se cultive la mythique quinoa, sur les hauts plateaux d'Andahuaylas où se pratique l'agriculture bio depuis des millénaires.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="fifth-banner text-center" id="cahierdescharges">
    <div class="container content-white">
      <div class="row">
        <div class="col-md-12">
          <div class="title">
          <h1>DES PRODUITS JUSTES</h1>
          </div>
            <h5>Le monde est dangereux à vivre ! Non pas tant à cause de ceux qui font le mal, mais à cause de ceux qui regardent et laissent faire. <br>(Albert Einstein)</h5>
          <div class="col-xs-12 col-md-4">
            <div class="icons">
              <%= cl_image_tag("transparency_orange_kzvnnk.png", :secure => true, class:"lazyload", :fetch_format=>:auto, :height=>150, :quality=>"auto:good", :crop=>"scale") %>
            </div>
            <div class="test">
            <h2>Transparence</h2>
            <p>De la coopérative à vos papilles, vous connaîtrez tout sur votre produit.</p>
            </div>
          </div>
          <div class=" hidden-sm hidden-xs col-md-4">
            <div class="doypack-multiple ">
              <%= cl_image_tag("packaging__01_l1z20l.png", :secure => true, class:"lazyload", :width=>100,  id:"doy-1") %>
              <%= cl_image_tag("packaging__01_l1z20l.png", :secure => true, class:"lazyload", :width=>100,   id:"doy-2") %>
              <%= cl_image_tag("packaging__02_zb1k9z.png", :secure => true, class:"lazyload", :width=>100,  id:"doy-3") %>
            </div>
          </div>
          <div class="col-xs-12 col-md-4" >
            <div class="icons">
              <%= cl_image_tag("neutralité_carbone_orange_t9ydp4.png", :secure => true, class:"lazyload", :height=>150, :quality=>"auto:good", :crop=>"scale")%>
            </div>
            <div class="test">
            <h2>Neutralité carbone</h2>
            <p>Nous plantons autant d’arbres que nécessaire pour compenser à 100% l’impact de notre activité.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-xs-12 col-md-4 col-md-offset-1">
            <div class="icons">
              <%= cl_image_tag("bio_orange_itp5cj.png", :secure => true, class:"lazyload", :fetch_format=>:auto, :height=>150, :quality=>"auto:good", :crop=>"scale") %>
            </div>
            <div class="test">
            <h2>Agriculture biologique</h2>
            <p>Nos produits sont issus d’exploitations pratiquant une agriculture biologique.</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-md-offset-2" >
            <div class="icons">
              <%= cl_image_tag("handshake_orange_fxdibw.png",:secure => true, class:"lazyload", :height=>150, :quality=>"auto:good", :crop=>"scale") %>
            </div>
            <div class="test">
            <h2>Commerce équitable</h2>
            <p>Nos produits sont issus des filières équitables qui garantissent un revenu juste à nos producteurs.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sixth-banner" id="equipe">
    <div class="container text-center">
      <div class="content content-mob">
        <div class="title">
          <h1>UN PROJET COLLABORATIF</h1>

        </div>
        <div class="team">
          <ul class= "list-inline">
            <li><%= cl_image_tag("moi_caré_hq60uv.png", :secure => true, class:"lazyload", :fetch_format=>:auto, :quality=>"auto", :effect=>"grayscale", :height=>120,:width=>120, :crop=>"scale") %><h4>Thibault</h4></li>
            <li><%= cl_image_tag("julien_nfwsg0.png", :secure => true, class:"lazyload", :effect=>"grayscale", :fetch_format=>:auto, :quality=>"auto", :height=>120, :width=>120, :crop=>"thumb") %><h4>Julien</h4></li>
          </ul>
          <h4>Nous partîmes cinq cents (enfin 2 😉) <br> mais par un prompt renfort,
            Nous nous vîmes trois mille en arrivant au port...<br><small style="font-style: italic; color:white">(Pierre Corneille)</small></h4>
        </div>
        <h3>ILS SUIVENT NOTRE AVENTURE !</h3>
          <div class="followers">
            <ul class="list-inline">
            <li><%= cl_image_tag("romain_iogmvm.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Romain</p></li>
            <li><%= cl_image_tag("dimitri_ivxt55.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)%><p>Dimitri</p></li>
            <li><%= cl_image_tag("coline_nvgx2r.png", :secure => true, class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)  %><p>Coline</p></li>
            <li><%= cl_image_tag("simon_geoqgg.png", :secure => true, class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Simon</p></li>
            <li><%= cl_image_tag("christophe_j8urcn.png", :secure => true, class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Christophe</p></li>
            <li><%= cl_image_tag("jb_h9rqk6.png", :secure => true, class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)  %><p>Jean-baptiste</p></li>
            <li><%= cl_image_tag("sophie_mlyn48.png", :secure => true, class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)  %><p>Sophie</p></li>
            <li><%= cl_image_tag("lucille_yej9fj.png",:secure => true, class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)  %><p>Lucille</p></li>
            <li><%= cl_image_tag("francois_gfx2la.png",:secure => true, class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)  %><p>François</p></li>
            <li><%= cl_image_tag("caroline_przvij.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Caroline</p></li>
            <li><%= cl_image_tag("pierre_nbkmy3.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Pierre</p></li>
            <li><%= cl_image_tag("camille_e7yhcf.png",:secure => true, class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Camille</p></li>
            <li><%= cl_image_tag("louise_qw0da6.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Louise</p></li>
            <li><%= cl_image_tag("antoine_srrcvd.png",:secure => true, class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Antoine</p></li>
            <li><%= cl_image_tag("jerome_ufztts.png",:secure => true, class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Jérome</p></li>
            <li><%= cl_image_tag("julie_zh3wyo.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)  %><p>Julie</p></li>
            <li><%= cl_image_tag("greg_nlfzxg.png",:secure => true, class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Grégoire</p></li>
            <li><%= cl_image_tag("agathe_hd8ppy.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Agathe</p></li>
            <li><%= cl_image_tag("clementine_maaufq.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Clémentine</p></li>
            <li><%= cl_image_tag("marion_acckwa.png", :secure => true, class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Marion</p></li>
            <li><%= cl_image_tag("hugo_r6cncq.png", :secure => true, class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Hugo</p></li>
            <li><%= cl_image_tag("heloise_ktzbvx.png",:secure => true, class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Héloïse</p></li>
            <li><%= cl_image_tag("margaux_but2el.png",:secure => true, class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Margaux</p></li>
            <li><%= cl_image_tag("guillaume_vccnzj.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Guillaume</p></li>
            <li><%= cl_image_tag("benoit_mpbx9n.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Benoit</p></li>
            <li><%= cl_image_tag("jerome_kx6m9y.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Jérome</p></li>
            <li><%= cl_image_tag("loic_ouzago.png",:secure => true, class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Loïc</p></li>
            <li><%= cl_image_tag("dimitriv_ctr47e.png",:secure => true, class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)%><p>Dimitri</p></li>
            <li><%= cl_image_tag("mathieu_p65s9j.png",:secure => true, class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Mathieu</p></li>
            <li><%= cl_image_tag("annabelle_hyzj8g.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Annabelle</p></li>
            <li><%= cl_image_tag("francoisbl_fw1wop.png", :secure => true, class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)  %><p>Francois</p></li>
            <li><%= cl_image_tag("lea_bgxnaz.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)%><p>Léa</p></li>
            <li><%= cl_image_tag("laura_avifqf.png",:secure => true, class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)%><p>Laura</p></li>
            <li><%= cl_image_tag("romaing_ungqqr.png",:secure => true, class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)%><p>Romain</p></li>
            <li><%= cl_image_tag("marine_hqjujb.png",:secure => true, class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Marine</p></li>
            <li><%= cl_image_tag("matt_dolhd4.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)%><p>Mathilde</p></li>
            <li><%= cl_image_tag("brice_mloxaf.png",:secure => true, class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Brice</p></li>
            <li><%= cl_image_tag("manu_hk5jit.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Emanuelle</p></li>
            <li><%= cl_image_tag("joanna_jmnyl5.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Joanna</p></li>
            <li><%= cl_image_tag("William_god9sp.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>William</p></li>
            <li><%= cl_image_tag("Virgnie_hi9aqx.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Virginie</p></li>
            <li><%= cl_image_tag("Virgile_mqsyfg.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Virgile</p></li>
            <li><%= cl_image_tag("Victor_v1l6ct.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Victor</p></li>
            <li><%= cl_image_tag("Tristan_qgy6r6.png", :secure => true, class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Tristan</p></li>
            <li><%= cl_image_tag("Thomas_fbghvj.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Thomas</p></li>
            <li><%= cl_image_tag("Sophia_cobunj.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Sophia</p></li>
            <li><%= cl_image_tag("Solene_Magnan_dfnpln.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Solène</p></li>
            <li><%= cl_image_tag("Sébastien_ctyj3p.png", :secure => true, class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Sébastien</p></li>
            <li><%= cl_image_tag("Quentin_jnvied.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Quentin</p></li>
            <li><%= cl_image_tag("Pierre-Loup_xrlsxn.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Pierre-Loup</p></li>
            <li><%= cl_image_tag("Nicolas_zxhw3t.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Nicola</p></li>
            <li><%= cl_image_tag("Marine_wuhedl.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Marine</p></li>
            <li><%= cl_image_tag("Marine_Riou_mdxmxq.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Marine</p></li>
            <li><%= cl_image_tag("Joshua_c3koof.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Joshua</p></li>
            <li><%= cl_image_tag("Jean_eixlbd.png", :secure => true, class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Jean</p></li>
            <li><%= cl_image_tag("Ishar_aavywj.png", :secure => true, class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Ishar</p></li>
            <li><%= cl_image_tag("Guillaume_xt65tv.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Guillaume</p></li>
            <li><%= cl_image_tag("Edouard_m49fqr.png", :secure => true, class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Edouard</p></li>
            <li><%= cl_image_tag("Chloé_yem8ru.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Chloé</p></li>
            <li><%= cl_image_tag("Charlie_swama9.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Charlie</p></li>
            <li><%= cl_image_tag("Charles_xzfsah.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Charles</p></li>
            <li><%= cl_image_tag("Bob_d7pli8.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Boris</p></li>
            <li><%= cl_image_tag("Allison_dx0glt.png",:secure => true,  class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Allison</p></li>
            <li><%= cl_image_tag("Alexis_NB_odhmtp.png", :secure => true, class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Alexis</p></li>
            <li><%= cl_image_tag("Adrien_gmvscc.png", :secure => true, class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Adrien</p></li><br>
            <li class="circle"><p>?</p><p>Vous</p></li>
          </ul>
          <%= render "shared/form" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>

