
<%= render "shared/navbar" %>
<div class="wrapper">
  <div class="first-banner">
    <div class="container">
      <div class="first-banner-content text-center">
        <div class="punchline ">
          <!-- <h1>VOS PRODUITS D'EPICERIE COMME SI VOUS Y ETIEZ!</h1> -->
          <h1>MIEUX CONSOMMER DÉMARRE LÀ-BAS</h1>
          <!-- <h3>Des produits d'épicerie bons, justes et développés ensembles!</h3> <br> -->
          <h3>Rejoins notre communauté et élaborerons ensemble nos produits. </h3>
          <!-- -->
          <br>
        </div>
        <%= render "shared/form" %>
      </div>
    </div>
  </div>

  <div class="fourth-banner" id="carnetderoute">
    <div class="container content content-mob">
      <div class="row">
        <div class="title text-center">
          <h1>NOS PREMIERS PRODUITS</h1>
          <h3>Des produits conçus ensemble qui nous rapprochent des producteurs!</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-1">
          <div class="card" id="card">
            <div class="frisette">
              <%= cl_image_tag("frisette_o05m8g.png",:secure => true, class:"lazyload", :fetch_format=>:auto, :quality=>"auto", :width =>18) %>
            </div>
            <div class="card-title text-center">
              <p id="cafe-title">CAFE</p>
              <p id="cafe-brand">SANCHIRIO PALOMAR</p>
            </div>
            <div class="ambiance-grain">
            </div>
            <div class="doypack-quinoa ">
              <div class="doypack">
                <%= cl_image_tag("packaging__02_zb1k9z.png", :secure => true, class:"lazyload", :fetch_format=>:auto,:width=>90, :quality=>"auto",) %>
              </div>
             </div>
            <div class="description">
              <p><strong>Coopérative El Palomar </strong> <br>
              Découvrez les secrets d’un café de haute altitude, réputé pour son goût unique, cultivé sans pesticides et suspendu aux pentes de la Cordillère.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-offset-2 col-md-4">
          <div class="card" id="card">
            <div class="frisette">
              <%= cl_image_tag("frisettequinoa_aow4tb.png", :secure => true, class:"lazyload", :fetch_format=>:auto, :quality=>"auto", :width =>18) %>
            </div>
             <div class="card-title text-center">
              <p id="quinoa-title" >QUINOA</p>
              <p id="quinoa-brand">LOS CHANKAS</p>
            </div>
             <div class="ambiance-grain-quin">
            </div>
            <div class="doypack-quinoa ">
              <div class="doypack">
                <%= cl_image_tag("packaging__01_l1z20l.png", :secure => true, class:"lazyload", :fetch_format=>:auto, :width=>90, :quality=>"auto",) %>
              </div>
            </div>
            <div class="description">
              <p><strong> Coopérative Los Chankas</strong> <br>
              Nous allons comprendre comment se cultive la mythique quinoa, sur les hauts plateaux d'Andahuaylas où se pratique l'agriculture bio depuis des millénaires.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center" id="clockrow">
        <h3>Lancement des pré-commandes dans :</h3>
        <div id="clockdiv">
        <div class="number">
          <span class="days"></span>
          <div class="smalltext">Jours</div>
        </div>
        <div class="number">
          <span class="hours"></span>
          <div class="smalltext">Heures</div>
        </div>
        <div class="number">
          <span class="minutes"></span>
          <div class="smalltext">Minutes</div>
        </div>
        <div class="number">
          <span class="seconds"></span>
          <div class="smalltext">Secondes</div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fifth-banner text-center" id="cahierdescharges">
    <div class="container content-white">
      <div class="row">
        <div class="col-md-12">
          <div class="title">
          <h1>NOS VALEURS</h1>
          <h3>Nous visitons directement nos producteurs bio et commerce équitable, et t'expliquons tout sur nos produits.</h3>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="icons">
              <%= cl_image_tag("icones rose/transparency_rose.jpg", :secure => true, class:"lazyload", :fetch_format=>:auto, :height=>150, :quality=>"auto:good", :crop=>"scale") %>
            </div>
            <div class="test">
              <h2>Transparence</h2>
              <p>De la coopérative à vos papilles, vous connaîtrez tout sur votre produit.</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-3" >
            <div class="icons">
              <%= cl_image_tag("icones rose/neutralité_carbone_rose.jpg", :secure => true, class:"lazyload", :height=>150, :quality=>"auto:good", :crop=>"scale")%>
            </div>
            <div class="test">
              <h2>Neutralité carbone</h2>
              <p>Nous plantons autant d’arbres que nécessaire pour compenser à 100% l’impact de notre activité.</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="icons">
              <%= cl_image_tag("icones rose/bio_rose.jpg", :secure => true, class:"lazyload", :fetch_format=>:auto, :height=>150, :quality=>"auto:good", :crop=>"scale") %>
            </div>
            <div class="test">
              <h2>Agriculture biologique</h2>
              <p>Nos produits sont issus d’exploitations pratiquant une agriculture biologique.</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-3" >
            <div class="icons">
              <%= cl_image_tag("icones rose/handshake_rose.jpg",:secure => true, class:"lazyload", :height=>150, :quality=>"auto:good", :crop=>"scale") %>
            </div>
            <div class="test">
              <h2>Commerce équitable</h2>
              <p>Nos produits sont issus des filières équitables qui garantissent un revenu juste à nos producteurs.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>

  <div class="third-banner text-center" id="commentcamarche">
    <div class="container content-white">
      <div class="row">
        <div class="title">
          <h1>UNE MARQUE COLLABORATIVE ?</h1>
        </div>
        <div class="first-step col-sm-6 col-md-4">
          <%=cl_image_tag("creezorange_boirh4.png", :secure => true, lass:"lazyload", :fetch_format=>:auto,:quality=>"auto", :width=>130, :height=>130, :crop=>"fill") %>
          <h2>Créez</h2>
          <h5>
            Je m'inscris pour suivre le projet. <br>
            Je donne mon avis en ligne sur les futurs produits à développer. <br>
            Je pré-commande mes produits en ligne. <br>
          </p></h5>
        </div>
        <div class="second-step col-sm-6 col-md-4">
          <%= cl_image_tag("apprenezorange_dgu34h.png", :secure => true, lass:"lazyload", :fetch_format=>:auto, :height=>130, :quality=>"auto:good", :width=>130, :crop=>"fill")%>
          <h2>Apprenez</h2>
          <h5>Je comprends comment mes produits sont fabriqués, de la graine à mes papilles,<br> grâce aux photos, vidéos et infographies en ligne.</h5>
        </div>
        <div class="third-step col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
          <%= cl_image_tag("dégustezorange_oryffh.png",:secure => true, lass:"lazyload", :fetch_format=>:auto, :quality=>"auto", :width=>130, :height=>130,  :crop=>"fill") %>
          <h2>Dégustez</h2>
          <h5>Je reçois mes produits uniques et leurs fiches de dégustations directement chez moi !</h5>
        </div>
      </div>
    </div>
  </div>

        <div class="container hidden-xs">
          <div class="row">
            <div class="container-carnet-img">
                <div class="carnet-img">
                  <%= cl_image_tag("Interview_producteur_pe8xgz.jpg",:secure => true, lass:"lazyload", :fetch_format=>:auto,:quality=>"auto", :width=>160, :height=>160, :crop=>"fill")%>
                </div>
                <div class="carnet-img">
                <%= cl_image_tag("Café_rojo_3_va8cr2.jpg",:secure => true, lass:"lazyload", :fetch_format=>:auto,:quality=>"auto", :width=>160, :height=>160, :crop=>"fill")%>
                </div>
                <div class="carnet-img">
                  <%= cl_image_tag("Macro_plant_quinoa_3_gmv5fe.jpg",:secure => true, lass:"lazyload", :fetch_format=>:auto,:quality=>"auto", :width=>160, :height=>160, :crop=>"fill") %>
                </div>
                <div class="carnet-img">
                  <%= cl_image_tag("Bons_touristes_aj58ke.jpg",:secure => true, lass:"lazyload", :fetch_format=>:auto,:quality=>"auto", :width=>160, :height=>160, :crop=>"fill") %>
                </div>
                <div class="carnet-img">
                  <%= cl_image_tag("Producteurs_Nous_z2s5zy.jpg",:secure => true, lass:"lazyload", :fetch_format=>:auto,:quality=>"auto", :width=>160, :height=>160, :crop=>"fill") %>
                </div>
            </div>
          </div>
        </div>

  <div class="second-banner">
    <div class="container content-mob text-center" id="actualites">
      <div class="row">
        <div class="title">
          <h1>DÉCOUVREZ LE PROJET </h1>
          <h4></h4>
        </div>
        <div class="col-xs-12 col-md-6">
          <h3 style="color: #F9D243">- En vidéo -</h3><h4>La genèse</h4>
          <div class="youtubevideowrap">
            <div class="video-container">
              <div class="container text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/PBb71QN6g2k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="voteresults">
            <div class="row">
              <h3 style="color: #F9D243"> - En live - </h3>
              <h4>Le Top 4 des produits choisis par la communauté</h4>
              <h4>(votes ouverts depuis le 21 mai 2018)</h4>
                 <% CategoryPreference.try.first(4).each do |category_preference| %>
                <div class="col-xs-6 col-md-3">
                  <h2><%= CategoryPreference.try.index(category_preference) + 1 %></h2>
                  <%= image_tag category_preference[0].pictoname, {class:"img-rounded"}%>
                  <h5><%= category_preference[0].name %></H5>
                  <h5><% category_preference[1]%></h5>
                </div>
              <% end %>
            </div>
            <div class="">
              <h4>Rejoignez notre communauté</h4>
              <h4>pour donner votre avis!</h4>
              <%= render "shared/formtwo" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>











  <div class="seventh-banner" id="equipe">
    <div class="container text-center">
      <div class="content-blue content-mob">
        <div class="team">
          <ul class= "list-inline">
            <li><%= cl_image_tag("moi_caré_hq60uv.png", :secure => true, class:"lazyload", :fetch_format=>:auto, :quality=>"auto", :effect=>"grayscale", :height=>120,:width=>120, :crop=>"scale") %><h4>Thibault</h4></li>
            <li><%= cl_image_tag("julien_nfwsg0.png", :secure => true, class:"lazyload", :effect=>"grayscale", :fetch_format=>:auto, :quality=>"auto", :height=>120, :width=>120, :crop=>"thumb") %><h4>Julien</h4></li>
          </ul>
        </div>
          <div class="">
            <%= render "shared/form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>

