
<%= render "shared/navbar" %>
  </div>
<!-- </div> -->
<div class="wrapper">
  <div class="first-banner">
    <div class="container">
      <div class="first-banner-content text-center">
        <div class="punchline ">
          <h1>VOS PRODUITS D'EPICERIE COMME SI VOUS Y ETIEZ!</h1>
          <!-- <H1>MIEUX CONSOMMER DEMARRE LA BA...</H1> -->
          <!-- <h3>Des produits d'épicerie bons, justes et développés ensembles!</h3> <br> -->
          <h3>Des produits d'épicerie bons, justes et conçus ensembles!</h3> <br>
        </div>
        <%= render "shared/form" %>
      </div>
    </div>
  </div>
  <div class="second-banner" id="pourquoilatribu">
    <div class="container text-center content-white">
      <div class="title">
        <h1>POURQUOI LA TRIBU?</h1>
      </div>
        <h4>La Tribu est née d’une découverte lors d’un voyage dans le chiapas, au mexique.<br></h4>
          <h4>Un café bio de haute altitude, issus d’une coopérative équitable rencontrée à l’occasion directement dans les champs de caféiers, dans un massif montagneux à 3 heure de routes de la ville.<br></h4>
          <h4>Il avait un goût spécial ce café, celui de la découverte et du voyage.<br></h4>
          <h4><strong>En partageant ce café et son histoire à nos amis, nous avons réalisé que cela pourrait plaire à tout le monde <br> La Tribu était née.</strong>
      </h4>
    </div>
  </div>
  <div class="third-banner text-center" id="commentcamarche">
    <div class="container content-white">
      <div class="row">
        <div class="title">
          <h1>COMMENT CA MARCHE?</h1>
        </div>
        <div class="first-step col-sm-6 col-md-4">
          <%= cl_image_tag("apprenezorange_dgu34h.webp", lass:"lazyload", :fetch_format=>:auto, :height=>200, :quality=>"auto:good", :width=>200, :crop=>"fill")%>
          <h2>Apprenez</h2>
          <h5>Je comprends comment mes produits sont fabriqués, depuis la graine jusqu'a mes papilles</h5>
        </div>
        <div class="second-step col-sm-6 col-md-4">
          <%=cl_image_tag("creezorange_boirh4.webp", lass:"lazyload", :fetch_format=>:auto,:quality=>"auto", :width=>200, :height=>200, :crop=>"fill") %>
          <h2>Créez</h2>
          <h5>
            Je pré-commande mon produit en ligne <br>
            Je donne mon avis en ligne sur les futurs produits à développer <br>
            Je deviens actionnaire pour un euro </p></h5>
        </div>
        <div class="third-step col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
          <%= cl_image_tag("dégustezorange_oryffh.webp",lass:"lazyload", :fetch_format=>:auto, :quality=>"auto", :width=>200, :height=>200,  :crop=>"fill") %>
          <h2>Dégustez</h2>
          <h5>Je reçois mes produits uniques et leurs fiches de dégustations directement chez moi!</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="fourth-banner" id="carnetderoute">
    <div class="container content">
      <div class="row">
      <div class="title text-center">
        <h1>CARNET DE ROUTE - MAI 2018</h1>
        <h4>Nous partons à la découverte de deux coopératives péruviennes, de café et de quinoa.</h4>
        <h4>Notre objectif est de développer 3 produits co-financés avec nos membres.</h4>
      </div>
    </div>
      <div class="row text-center" id="clockrow">
        <h4>Lancement et pré-commandes prévues dans:</h4>
        <div id="clockdiv">
        <div class="number">
          <span class="days"></span>
          <div class="smalltext">Jours</div>
        </div>
        <div class="number">
          <span class="hours"></span>
          <div class="smalltext">Heures</div>
        </div>
        <div class="number">
          <span class="minutes"></span>
          <div class="smalltext">Minutes</div>
        </div>
        <div class="number">
          <span class="seconds"></span>
          <div class="smalltext">Secondes</div>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-1">
          <div class="card">
            <div class="frisette">
              <%= cl_image_tag("frisette_o05m8g.webp",class:"lazyload", :fetch_format=>:auto, :quality=>"auto", :width =>18) %>
            </div>
            <div class="card-title text-center">
              <p id="cafe-title">CAFE</p>
              <p id="cafe-brand">LE GRAIN INCA</p>
            </div>
            <div class="ambiance-grain">
            </div>
            <div class="doypack-quinoa ">
              <div class="doypack">
                <%= cl_image_tag("doypack_ife4cg.webp", class:"lazyload", :fetch_format=>:auto,:width=>90, :quality=>"auto",) %>
              </div>
             </div>
            <div class="description">
              <p><strong>Coopérative el palomar </strong> <br>
              Nous partons a la découverte d’un café de haute altitude accroché aux pentes de la cordilière.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-offset-2 col-md-4">
          <div class="card">
            <div class="frisette">
              <%= cl_image_tag("frisettequinoa_aow4tb.webp", class:"lazyload", :fetch_format=>:auto, :quality=>"auto", :width =>18) %>
            </div>
             <div class="card-title text-center">
              <p id="quinoa-title" >QUINOA</p>
              <p id="quinoa-brand">LE GRAIN KINWA</p>
            </div>
             <div class="ambiance-grain-quin">
            </div>
            <div class="doypack-quinoa ">
              <div class="doypack">
                <%= cl_image_tag("doypack_ife4cg.webp", class:"lazyload", :fetch_format=>:auto, :width=>90, :quality=>"auto",) %>
              </div>
              <div class="doypack">
                <%= cl_image_tag("doypack_ife4cg.webp", class:"lazyload", :fetch_format=>:auto, :width=>90, :quality=>"auto",) %>
              </div>
            </div>
            <div class="description">
              <p><strong> Coopérative Los Chankas</strong> <br>
              Nous allons comprendre comment se cultive la mythique quinoa, dans cette région reculée du sud du pérou.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="fifth-banner text-center" id="cahierdescharges">
    <div class="container content-white">
      <div class="row">
        <div class="col-md-12">
          <div class="title">
          <h1>TANT QU'A FAIRE AUTANT BIEN LE FAIRE!</h1>
          </div>
            <h5>Le monde est dangereux à vivre ! Non pas tant à cause de ceux qui font le mal, mais à cause de ceux qui regardent et laissent faire. (Albert Einstein)</h5>
          <div class="col-xs-12 col-md-4">
            <div class="icons">
              <%= cl_image_tag("neutralité_carbone_orange_t9ydp4.webp", class:"lazyload", :height=>150, :quality=>"auto:good", :crop=>"scale")%>
            </div>
            <div class="test">
            <h2>Neutralité carbone</h2>
            <p>Nous plantons autant d’arbres nécessaire pour compenser à 100% l’impact de notre activité.</p>
            </div>
          </div>
          <div class=" hidden-sm hidden-xs col-md-4">
            <div class="doypack-multiple ">
              <%= cl_image_tag("doypack_ife4cg.webp", class:"lazyload", :width=>100,  id:"doy-1") %>
              <%= cl_image_tag("doypack_ife4cg.webp", class:"lazyload", :width=>100,   id:"doy-2") %>
              <%= cl_image_tag("doypack_ife4cg.webp", class:"lazyload", :width=>100,  id:"doy-3") %>
            </div>
          </div>
          <div class="col-xs-12 col-md-4" >
            <div class="icons">
              <%= cl_image_tag("handshake_orange_fxdibw.webp", class:"lazyload", :height=>150, :quality=>"auto:good", :crop=>"scale") %>
            </div>
            <div class="test">
            <h2>Commerce équitable</h2>
            <p>Nos produits sont issus des filières équitables qui garantissent un revenu digne à nos producteurs.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-xs-12 col-md-4 col-md-offset-1">
            <div class="icons">
              <%= cl_image_tag("transparency_orange_kzvnnk.webp", class:"lazyload", :fetch_format=>:auto, :height=>150, :quality=>"auto:good", :crop=>"scale") %>
            </div>
            <div class="test">
            <h2>Transparence</h2>
            <p>De la coopérative et votre domicile, vous connaitrez tous sur votre produit.</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-md-offset-2" >
            <div class="icons">
              <%= cl_image_tag("bio_orange_itp5cj.webp",class:"lazyload", :fetch_format=>:auto, :height=>150, :quality=>"auto:good", :crop=>"scale") %>
            </div>
            <div class="test">
            <h2>Agriculture biologique</h2>
            <p>Nos produits sont issus d’exploitations pratiquant une agriculture biologique.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sixth-banner" id="equipe">
    <div class="container text-center">
      <div class="content">
        <div class="title">
          <h1>L'EQUIPE</h1>

        </div>
        <div class="team">
          <ul class= "list-inline">
            <li><%= cl_image_tag("moi_caré_hq60uv.webp", class:"lazyload", :fetch_format=>:auto, :quality=>"auto", :effect=>"grayscale", :height=>120,:width=>120, :crop=>"scale") %><h4>Thibault</h4></li>
            <li><%= cl_image_tag("julien_nfwsg0.webp",class:"lazyload", :effect=>"grayscale", :fetch_format=>:auto, :quality=>"auto", :height=>120, :width=>120, :crop=>"thumb") %><h4>Julien</h4></li>
          </ul>
          <h4>Nous partîmes cinq cents (enfin 2 ;) ) <br> mais par un prompt renfort,
            Nous nous vîmes trois mille en arrivant au port...</h4>
        </div>
        <h3>ILS NOUS SOUTIENNENT DANS NOTRE AVENTURE!</h3>
          <div class="followers">
            <ul class="list-inline">
            <li><%= cl_image_tag("romain_iogmvm.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Romain</p></li>
            <li><%= cl_image_tag("dimitri_ivxt55.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)%><p>Dimitri</p></li>
            <li><%= cl_image_tag("coline_nvgx2r.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)  %><p>Coline</p></li>
            <li><%= cl_image_tag("simon_geoqgg.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Simon</p></li>
            <li><%= cl_image_tag("christophe_j8urcn.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Christophe</p></li>
            <li><%= cl_image_tag("jb_h9rqk6.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)  %><p>Jean-baptiste</p></li>
            <li><%= cl_image_tag("sophie_mlyn48.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)  %><p>Sophie</p></li>
            <li><%= cl_image_tag("lucille_yej9fj.webp",class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)  %><p>Lucille</p></li>
            <li><%= cl_image_tag("francois_gfx2la.webp",class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)  %><p>François</p></li>
            <li><%= cl_image_tag("caroline_przvij.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Caroline</p></li>
            <li><%= cl_image_tag("pierre_nbkmy3.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Pierre</p></li>
            <li><%= cl_image_tag("camille_e7yhcf.webp",class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Camille</p></li>
            <li><%= cl_image_tag("louise_qw0da6.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Louise</p></li>
            <li><%= cl_image_tag("antoine_srrcvd.webp",class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Antoine</p></li>
            <li><%= cl_image_tag("jerome_ufztts.webp",class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Jérome</p></li>
            <li><%= cl_image_tag("julie_zh3wyo.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)  %><p>Julie</p></li>
            <li><%= cl_image_tag("greg_nlfzxg.webp",class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Grégoire</p></li>
            <li><%= cl_image_tag("agathe_hd8ppy.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Agathe</p></li>
            <li><%= cl_image_tag("clementine_maaufq.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Clémentine</p></li>
            <li><%= cl_image_tag("marion_acckwa.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Marion</p></li>
            <li><%= cl_image_tag("hugo_r6cncq.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Hugo</p></li>
            <li><%= cl_image_tag("heloise_ktzbvx.webp",class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Héloïse</p></li>
            <li><%= cl_image_tag("margaux_but2el.webp",class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Margaux</p></li>
            <li><%= cl_image_tag("guillaume_vccnzj.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Guillaume</p></li>
            <li><%= cl_image_tag("benoit_mpbx9n.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Benoit</p></li>
            <li><%= cl_image_tag("jerome_kx6m9y.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Jérome</p></li>
            <li><%= cl_image_tag("loic_ouzago.webp",class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Loïc</p></li>
            <li><%= cl_image_tag("dimitriv_ctr47e.webp",class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)%><p>Dimitri</p></li>
            <li><%= cl_image_tag("mathieu_p65s9j.webp",class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Mathieu</p></li>
            <li><%= cl_image_tag("annabelle_hyzj8g.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Annabelle</p></li>
            <li><%= cl_image_tag("francoisbl_fw1wop.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)  %><p>Francois</p></li>
            <li><%= cl_image_tag("lea_bgxnaz.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)%><p>Léa</p></li>
            <li><%= cl_image_tag("laura_avifqf.webp",class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)%><p>Laura</p></li>
            <li><%= cl_image_tag("romaing_ungqqr.webp",class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)%><p>Romain</p></li>
            <li><%= cl_image_tag("marine_hqjujb.webp",class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Marine</p></li>
            <li><%= cl_image_tag("matt_dolhd4.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto)%><p>Mathilde</p></li>
            <li><%= cl_image_tag("brice_mloxaf.webp",class:"lazyload", :quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Brice</p></li>
            <li><%= cl_image_tag("manu_hk5jit.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Emanuelle</p></li>
            <li><%= cl_image_tag("joanna_jmnyl5.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Joanna</p></li>
            <li><%= cl_image_tag("William_god9sp.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>William</p></li>
            <li><%= cl_image_tag("Virgnie_hi9aqx.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Virginie</p></li>
            <li><%= cl_image_tag("Virgile_mqsyfg.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Virgile</p></li>
            <li><%= cl_image_tag("Victor_v1l6ct.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Victor</p></li>
            <li><%= cl_image_tag("Tristan_qgy6r6.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Tristan</p></li>
            <li><%= cl_image_tag("Thomas_fbghvj.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Thomas</p></li>
            <li><%= cl_image_tag("Sophia_cobunj.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Sophia</p></li>
            <li><%= cl_image_tag("Solene_Magnan_dfnpln.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Solène</p></li>
            <li><%= cl_image_tag("Sébastien_ctyj3p.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Sébastien</p></li>
            <li><%= cl_image_tag("Quentin_jnvied.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Quentin</p></li>
            <li><%= cl_image_tag("Pierre-Loup_xrlsxn.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Pierre-Loup</p></li>
            <li><%= cl_image_tag("Nicolas_zxhw3t.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Nicola</p></li>
            <li><%= cl_image_tag("Marine_wuhedl.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Marine</p></li>
            <li><%= cl_image_tag("Marine_Riou_mdxmxq.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Marine</p></li>
            <li><%= cl_image_tag("Joshua_c3koof.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Joshua</p></li>
            <li><%= cl_image_tag("Jean_eixlbd.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Jean</p></li>
            <li><%= cl_image_tag("Ishar_aavywj.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Ishar</p></li>
            <li><%= cl_image_tag("Guillaume_xt65tv.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Guillaume</p></li>
            <li><%= cl_image_tag("Edouard_m49fqr.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Edouard</p></li>
            <li><%= cl_image_tag("Chloé_yem8ru.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Chloé</p></li>
            <li><%= cl_image_tag("Charlie_swama9.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Charlie</p></li>
            <li><%= cl_image_tag("Charles_xzfsah.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Charles</p></li>
            <li><%= cl_image_tag("Bob_d7pli8.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Boris</p></li>
            <li><%= cl_image_tag("Allison_dx0glt.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Allison</p></li>
            <li><%= cl_image_tag("Alexis_NB_odhmtp.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Alexis</p></li>
            <li><%= cl_image_tag("Adrien_gmvscc.webp", class:"lazyload",:quality=>"auto", :width=>50, :crop=>"scale", :fetch_format=>:auto) %><p>Adrien</p></li><br>
            <li class="circle"><p>?</p><p>Vous</p></li>
          </ul>
          <%= render "shared/form" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>

