<%= render "shared/navbar" %>
<div class="wrapper">
  <div class="first-banner">
    <div class="container">
      <div class="first-banner-content text-center">
        <div class="punchline ">
          <!-- <h1>VOS PRODUITS D'EPICERIE COMME SI VOUS Y ETIEZ!</h1> -->
          <h1>MIEUX CONSOMMER DÉMARRE LÀ-BAS</h1>
          <!-- <h3>Des produits d'épicerie bons, justes et développés ensembles!</h3> <br> -->
          <h3>Rejoins notre communauté et élaborerons ensemble nos produits. </h3>
          <!-- -->
          <br>
        </div>
        <%= render "shared/form" %>
      </div>
    </div>
  </div>
  <div class="essaiflipcard">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="title text-center">
            <h1>Nos premiers produits</h1>
            <h3>Des produits conçus ensemble qui nous rapprochent des producteurs!</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-1">
          <div class="flip-container" >
            <div class="card">
              <div class="front">
                <div class="frisette">
                  <%= cl_image_tag("frisette_o05m8g.png",:secure => true, class:"lazyload", :fetch_format=>:auto, :quality=>"auto", :width =>18) %>
                </div>
                <div class="card-title text-center">
                  <p id="cafe-title">CAFE</p>
                  <p id="cafe-brand">SANCHIRIO PALOMAR</p>
                </div>
                <div class="ambiance-grain">
                </div>
                <div class="doypack-quinoa ">
                  <div class="doypack">
                    <%= cl_image_tag("packaging__02_zb1k9z.png", :secure => true, class:"lazyload", :fetch_format=>:auto,:width=>90, :quality=>"auto",) %>
                  </div>
                </div>
                <div class="description">
                  <p><strong>Coopérative El Palomar </strong> <br>
                  Découvrez les secrets d’un café de haute altitude, réputé pour son goût unique, cultivé sans pesticides et suspendu aux pentes de la Cordillère.</p>
                </div>
                <%= cl_image_tag("reload_xwpfnn.png", :width=>35, :crop=>"scale", :secure => true, class:"lazyload", class:"flip-button",  :fetch_format=>:auto, :quality=>"auto") %>
              </div>
              <div class="back">
                <h4>Coopérative: C.A.F.E Sanchirio Palomar</h4>
                <h4>Nombre de producteurs: 175</h4>
                <h4>Méthode de culture: café d’ombre biologique</h4>
                <h4>Altitude: 1300 à 1800 mètres</h4>
                <h4> Récolte: manuelle de avril a septembre</h4>
                <h4>Subtile mélange de variétés: Tipica, bourbon, cattuai, caturra, pache, catimor.</h4>
                <h4>Origine géographique: Sanchirio Palomar, Pérou</h4>
                <h4>Longitude: XXXX Latitude: XXXX</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-offset-2 col-md-4">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="card">
              <div class="front">
                <div class="frisette">
                  <%= cl_image_tag("frisettequinoa_aow4tb.png", :secure => true, class:"lazyload", :fetch_format=>:auto, :quality=>"auto", :width =>360) %>
                </div>
                <div class="card-title text-center">
                <p id="quinoa-title" >QUINOA</p>
                <p id="quinoa-brand">LOS CHANKAS</p>
                </div>
                <div class="ambiance-grain-quin">
                </div>
                <div class="doypack-quinoa ">
                  <div class="doypack">
                    <%= cl_image_tag("packaging__01_l1z20l.png", :secure => true, class:"lazyload", :fetch_format=>:auto, :width=>90, :quality=>"auto",) %>
                  </div>
                </div>
                <div class="description">
                  <p><strong> Coopérative Los Chankas</strong> <br>
                    Nous allons comprendre comment se cultive la mythique quinoa, sur les hauts plateaux d'Andahuaylas où se pratique l'agriculture bio depuis des millénaires.</p>
                  <%= cl_image_tag("reload_xwpfnn.png", :width=>35, :crop=>"scale", :secure => true, class:"lazyload", class:"flip-button",  :fetch_format=>:auto, :quality=>"auto") %>
                </div>
              </div>
              <div class="back">
                <h4>Coopérative: COOPERATIVA AGRARIA LOS CHANKAS</h4>
                <h4>Nombre de producteurs: 350</h4>
                <h4>Altitude: 3 300 à 3 800 m d’altitude</h4>
                <h4>Zone géographique: Andahuaylas, Pérou</h4>
                <h4>Récolte: manuelle de mai à septembre</h4>
                <h4>Longitude XXXXX latitude XXXXX</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fifth-banner text-center" id="nosvaleurs">
    <div class="container content-white">
      <div class="row">
        <div class="col-md-12">
          <div class="title">
          <h1>Nos valeurs</h1>
          <h3>Nous visitons directement nos producteurs bio et commerce équitable, et t'expliquons tout sur nos produits.</h3>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="icons">
              <%= cl_image_tag("icones rose/transparency_rose.jpg", :secure => true, class:"lazyload", :fetch_format=>:auto, :height=>150, :quality=>"auto:good", :crop=>"scale") %>
            </div>
            <div class="test">
              <h2>Transparence</h2>
              <p>De la coopérative à vos papilles, vous connaîtrez tout sur votre produit.</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-3" >
            <div class="icons">
              <%= cl_image_tag("icones rose/neutralité_carbone_rose.jpg", :secure => true, class:"lazyload", :height=>150, :quality=>"auto:good", :crop=>"scale")%>
            </div>
            <div class="test">
              <h2>Neutralité carbone</h2>
              <p>Nous plantons autant d’arbres que nécessaire pour compenser à 100% l’impact de notre activité.</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="icons">
              <%= cl_image_tag("icones rose/bio_rose.jpg", :secure => true, class:"lazyload", :fetch_format=>:auto, :height=>150, :quality=>"auto:good", :crop=>"scale") %>
            </div>
            <div class="test">
              <h2>Agriculture biologique</h2>
              <p>Nos produits sont issus d’exploitations pratiquant une agriculture biologique.</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-3" >
            <div class="icons">
              <%= cl_image_tag("icones rose/handshake_rose.jpg",:secure => true, class:"lazyload", :height=>150, :quality=>"auto:good", :crop=>"scale") %>
            </div>
            <div class="test">
              <h2>Commerce équitable</h2>
              <p>Nos produits sont issus des filières équitables qui garantissent un revenu juste à nos producteurs.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="third-banner text-center" id="commentcamarche">
    <div class="container content-white">
      <div class="row">
        <div class="title">
          <h1>Une marque collaborative?</h1>
        </div>
        <div class="first-step col-sm-6 col-md-4">
          <%=cl_image_tag("creez_vert_r6bwsi.jpg", :secure => true, lass:"lazyload", :fetch_format=>:auto,:quality=>"auto", :width=>130, :height=>130, :crop=>"fill") %>
          <h2>Créez</h2>
          <h5>
            Je m'inscris pour suivre le projet. <br>
            Je donne mon avis en ligne sur les futurs produits à développer. <br>
            Je pré-commande mes produits en ligne. <br>
          </p></h5>
        </div>
        <div class="second-step col-sm-6 col-md-4">
          <%= cl_image_tag("apprenez_vert_j5r1vw.jpg", :secure => true, lass:"lazyload", :fetch_format=>:auto, :height=>130, :quality=>"auto:good", :width=>130, :crop=>"fill")%>
          <h2>Apprenez</h2>
          <h5>Je comprends comment mes produits sont fabriqués, de la graine à mes papilles,<br> grâce aux photos, vidéos et infographies en ligne.</h5>
        </div>
        <div class="third-step col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
          <%= cl_image_tag("dégustez_vert_gke9of.jpg",:secure => true, lass:"lazyload", :fetch_format=>:auto, :quality=>"auto", :width=>130, :height=>130,  :crop=>"fill") %>
          <h2>Dégustez</h2>
          <h5>Je reçois mes produits uniques et leurs fiches de dégustations directement chez moi !</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="lancement">
    <div class="container text-center">
      <div class="title">
        <h1>Lancement imminent !</h1>
      </div>
    <div class="row">
      <div class="col-md-6">
        <div class="lancement-expl">
          <div class="txt">
              <p>Nous lançons une campagne de financement participatif pour vendre notre première gamme de produits le 1er Octobre 🚀. </p>
              <p>Vos commandes nous permettront de nous approvisionner, puis transformer et empaqueter les produits avec l'aide d'une PME française, et de l'ESAT du Havre. </p>
              <p>Bien entendu, nous vous livrerons à domicile !</p>
            <div class="">
            <%= render "shared/formthree" %>
            </div>
          </div>
        </div>
      </div>
        <div class="col-md-6">
          <div class="rocket">
            <div id="clockrow">
              <h3>Lancement des pré-commandes dans :</h3>
              <div id="clockdiv">
                <div class="number">
                  <span class="days"></span>
                  <div class="smalltext">Jours</div>
                </div>
                <div class="number">
                  <span class="hours"></span>
                  <div class="smalltext">Heures</div>
                </div>
                <div class="number">
                  <span class="minutes"></span>
                  <div class="smalltext">Minutes</div>
                </div>
                <div class="number">
                  <span class="seconds"></span>
                  <div class="smalltext">Secondes</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="comprendre text-center">
    <div class="container">
      <div class="title">
        <h1>Tout comprendre sur nos produits</h1>
        <h3>Comprendre la fabrication de nos produits de  A à Z</h3>
      </div>
       <div class="comprendre-image">
        <div class="row">
          <div class="col-md-4">
            <%= cl_image_tag("la_recolte_wj0apj.png",:secure => true, lass:"lazyload", :fetch_format=>:auto, :quality=>"auto", :height=>250, :width=> 298,  :crop=>"scale") %>
            <p>Des vidéos qui vous expliquent les étapes de la fabrication de nos produits, filmés par nos soins, surplace.</p>
          </div>
          <div class="col-md-4">
            <%= cl_image_tag("La_récolte_V4_Facebook_ceezzu.png", :height=>250, :width=> 298, :secure => true, lass:"lazyload", :fetch_format=>:auto, :quality=>"auto", :crop=>"scale") %>
            <p>Nous mettons à disposition des plus curieux des dossiers écrits pour approfondissent ces sujets.</p>
          </div>
          <div class="col-md-4">
            <%= cl_image_tag("Album_1_-_Lac_Titicaca_1_p2emfv.png",:secure => true, lass:"lazyload", :fetch_format=>:auto, :quality=>"auto", :height=>250, :width=> 298, :crop=>"scale") %>
            <p>En 3.600km de découverte au Pérou, nous avons vu des sites extraordinaire. À découvrir en photos.</p>
            <div class="btn-medium-pink" id="apprendre">
             Apprendre des choses
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="instagram hidden-xs">
    <div class="container ">
      <div class="row">
        <div class="container-carnet-img">
          <div class="carnet-img">
              <%= cl_image_tag("instagram-noirtxt_hzeqiu.png",:secure => true, lass:"lazyload", :fetch_format=>:auto,:quality=>"auto", :width=>160, :height=>160, :crop=>"fill") %>
            </div>
            <div class="carnet-img">
            <%= cl_image_tag("Interview_producteur_pe8xgz.jpg",:secure => true, lass:"lazyload", :fetch_format=>:auto,:quality=>"auto", :width=>160, :height=>160, :crop=>"fill")%>
            </div>
            <div class="carnet-img">
            <%= cl_image_tag("Café_rojo_3_va8cr2.jpg",:secure => true, lass:"lazyload", :fetch_format=>:auto,:quality=>"auto", :width=>160, :height=>160, :crop=>"fill")%>
            </div>
            <div class="carnet-img">
              <%= cl_image_tag("Macro_plant_quinoa_3_gmv5fe.jpg",:secure => true, lass:"lazyload", :fetch_format=>:auto,:quality=>"auto", :width=>160, :height=>160, :crop=>"fill") %>
            </div>
            <div class="carnet-img">
              <%= cl_image_tag("Bons_touristes_aj58ke.jpg",:secure => true, lass:"lazyload", :fetch_format=>:auto,:quality=>"auto", :width=>160, :height=>160, :crop=>"fill") %>
            </div>
            <div class="carnet-img">
              <%= cl_image_tag("Producteurs_Nous_z2s5zy.jpg",:secure => true, lass:"lazyload", :fetch_format=>:auto,:quality=>"auto", :width=>160, :height=>160, :crop=>"fill") %>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="instagram">
    <div class="container ">
      <div class="scrollmenu" >
          <div class="item" >
            <ul class="list-inline">
              <div class="container-carnet-img">
               <li><div class="carnet-img">
                  <%= cl_image_tag("instagram-noirtxt_hzeqiu.png",:secure => true, lass:"lazyload", :fetch_format=>:auto,:quality=>"auto", :width=>160, :height=>160, :crop=>"fill") %>
                </div></li>
                 <li><div class="carnet-img">
                <%= cl_image_tag("Interview_producteur_pe8xgz.jpg",:secure => true, lass:"lazyload", :fetch_format=>:auto,:quality=>"auto", :width=>160, :height=>160, :crop=>"fill")%>
              </div></li>
                <li> <div class="carnet-img">
                <%= cl_image_tag("Café_rojo_3_va8cr2.jpg",:secure => true, lass:"lazyload", :fetch_format=>:auto,:quality=>"auto", :width=>160, :height=>160, :crop=>"fill")%>
              </div></li>
                 <li><div class="carnet-img">
                  <%= cl_image_tag("Macro_plant_quinoa_3_gmv5fe.jpg",:secure => true, lass:"lazyload", :fetch_format=>:auto,:quality=>"auto", :width=>160, :height=>160, :crop=>"fill") %>
                </div></li>
                 <li><div class="carnet-img">
                  <%= cl_image_tag("Bons_touristes_aj58ke.jpg",:secure => true, lass:"lazyload", :fetch_format=>:auto,:quality=>"auto", :width=>160, :height=>160, :crop=>"fill") %>
                </div></li>
                 <li><div class="carnet-img">
                  <%= cl_image_tag("Producteurs_Nous_z2s5zy.jpg",:secure => true, lass:"lazyload", :fetch_format=>:auto,:quality=>"auto", :width=>160, :height=>160, :crop=>"fill") %>
                </div></li>
            </div>
          </ul>
      </div>
    </div>
  </div>
</div>



  <div class="seventh-banner" id="equipe">
    <div class="container text-center">
      <div class="title">
        <h1>Votez !</h1>
      </div>
      <div class="voteresults col-sm-6">
        <div class="row">
          <h4>Le Top 4 des produits choisis par la communauté</h4>
          <h4>(votes ouverts depuis le 21 mai 2018)</h4>
             <% CategoryPreference.try.first(4).each do |category_preference| %>
            <div class="col-xs-6 col-md-3">
              <h2><%= CategoryPreference.try.index(category_preference) + 1 %></h2>
              <%= image_tag category_preference[0].pictoname, {class:"img-rounded"}%>
              <h5><%= category_preference[0].name %></H5>
              <h5><% category_preference[1]%></h5>
            </div>
          <% end %>
        </div>
      </div>
      <div class="team col-sm-6">
        <ul class= "list-inline">
          <li><%= cl_image_tag("moi_caré_hq60uv.png", :secure => true, class:"lazyload", :fetch_format=>:auto, :quality=>"auto", :effect=>"grayscale", :height=>120,:width=>120, :crop=>"scale") %><h4>Thibault</h4></li>
          <li><%= cl_image_tag("julien_nfwsg0.png", :secure => true, class:"lazyload", :effect=>"grayscale", :fetch_format=>:auto, :quality=>"auto", :height=>120, :width=>120, :crop=>"thumb") %><h4>Julien</h4></li>
        </ul>
      </div>
      <div class="">
        <h4>Rejoignez notre communauté</h4>
        <h4>pour donner votre avis!</h4>
        <%= render "shared/formtwo" %>
      </div>
    </div>
  </div>
</div>


<%= render "shared/footer" %>

