<div class="wrapper">

  <div class="first-banner">
    <div class="container">
      <div class="first-banner-content text-center">
        <div class="punchline ">
          <!-- <h1>VOS PRODUITS D'EPICERIE COMME SI VOUS Y ETIEZ!</h1> -->
          <h1>Choisissez nos prochains produits</h1>
          <!-- <h3>Des produits d'épicerie bons, justes et développés ensembles!</h3> <br> -->
   <!--        <h3>Rejoignez notre communauté de citoyens <br> et élaborons ensemble nos produits d'épicerie. </h3> -->
          <!-- -->
          <br>
        </div>
      </div>
    </div>
  </div>


<div class="fourth-banner banner grey text-center" id="commentcamarche">
    <div class="container">
      <div class="row">
        <div class="title">
          <h1>La Tribu est une marque participative.</h1>
        </div>
        <div class="pitch">
          <h5>Elle vous permet de reprendre le contrôle de votre consommation en participant à la création de nos produits.</h5>
        </div>
        <div class="first-step col-sm-6 col-md-4">
          <%=cl_image_tag("creez_vert_r6bwsi.jpg", :secure => true, lass:"lazyload", :fetch_format=>:auto,:quality=>"auto", :width=>130, :height=>130, :crop=>"fill") %>
          <h2>Créez</h2>
          <h5>
            Inscrivez-vous pour suivre le projet. <br>
            Donnez votre avis en ligne sur les futurs produits à développer. <br>
          </p></h5>
        </div>
        <div class="second-step col-sm-6 col-md-4">
          <%= cl_image_tag("apprenez_vert_j5r1vw.jpg", :secure => true, lass:"lazyload", :fetch_format=>:auto, :height=>130, :quality=>"auto:good", :width=>130, :crop=>"fill")%>
          <h2>Apprenez</h2>
          <h5>Comprenez comment vos produits sont fabriqués, de la graine à l'assiette,<br> grâce aux photos et vidéos en ligne.</h5>
        </div>
        <div class="third-step col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
          <%= cl_image_tag("dégustez_vert_gke9of.jpg",:secure => true, lass:"lazyload", :fetch_format=>:auto, :quality=>"auto", :width=>130, :height=>130,  :crop=>"fill") %>
          <h2>Dégustez</h2>
          <h5>Reçevez vos produits uniques ou retrouvez les dans votre magasin bio préféré !</h5>
        </div>
      </div>
    </div>
  </div>

  <div class= "second-banner">
    <div class="container text-center">
      <div class="vote">
        <div class="title">
          <h1>Aidez-nous à choisir !</h1>
        </div>
         <%= render "shared/form" %>
        <div class="pitch">
          <h5>Nous allons ensuite à la rencontre des producteurs et développons avec vous les produits qui correspondent à vos attentes.</h5>
        </div>
        <div class="img">
          <%= cl_image_tag("2019_-20_1_uwhr9c.png", :quality=>"auto", :fetch_format=>:auto) %>
        </div>

      </div>
    </div>
  </div>
</div>

