<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="Redonnez de la transparence à vos fonds de placards!" />
    <meta property="og:url" content="http://www.la-tribu.co" />
    <meta property="og:image" content="https://res.cloudinary.com/dcljc9muz/image/upload/v1522885730/tapachula_f6xcld.jpg" />
    <meta property="og:description" content="La Tribu, c'est une marque collaborative qui développe avec vous des produits d'épicerie d'exception, en totale transparence et livré directement chez vous!" />
    <meta property="og:site_name" content="La Tribu" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>La Tribu, marque collaborative de produits d'épicerie</title>
    <meta name="description" content="La Tribu, c'est une marque collaborative qui développe avec vous des produits d'épicerie d'exception, en totale transparence et livré directement chez vous!"
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>


    <%#= stylesheet_pack_tag 'application', media: 'all' %>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5acd26af15e550001323fa2e&product=social-ab' async='async'></script>
   <link href="https://fonts.googleapis.com/css?family=Poppins:300" rel="stylesheet">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

  </body>
</html>
